html
  head
    link(href='/css/PixelPainter.css', rel='stylesheet', media='screen')
  body
    h1 Test Grid

    - var idIterator = 0
    div.canvasContainer
      - for (var i = 0; i < 3; i++){
          div
          - for (var j = 0; j < 3; j++){
              - ++idIterator
              div(class="canvasCell" id='#{idIterator}')
            -}
        -}
    div.swatchContainer
      - for (var i = 0; i < 3; i++){
          div
          - for (var j = 0; j < 3; j++){
              - ++idIterator
              div(class="cell" id='#{idIterator}')
            -}
        -}

    block content
    form(action="/paintings" method="post")
      p Artist
      input(type="text" name="artist" class="artist")
      p Painting Title
      input(type="text" name="title" class="title")

    button(class="button clear" type="submit" value="CLEAR") CLEAR
    button(class="button erase" type="submit" value="ERASE") ERASE
    button(class="button saveNew" type="submit" value="SAVE") SAVE AND NEW


    script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='/js/PixelPainter.js')



