html
  head
    link(href='/css/PixelPainter.css', rel='stylesheet', media='screen')
  body
    h1 Pixel Painter
    #pixelPainter

    p Artist: #{artist}

    p Title: #{title}

    p Id: #{id}

    script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='/js/PixelPainter.js')